@import "primevue/resources/themes/saga-blue/theme.css";       
@import "primevue/resources/primevue.min.css";                 
@import "primeicons/primeicons.css";       
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family:'sans sarif'
}
.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
  }