@import "primevue/resources/themes/saga-blue/theme.css";       
@import "primevue/resources/primevue.min.css";                 
@import "primeicons/primeicons.css";       
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "myFont";
  src: url("./assets/Aktiv-Grotesk/TTF/AktivGrotesk-Regular.ttf");
}
*{
  font-family: "myFont",sans-serif;
}
@font-face {
  font-family: "Bold-Custom";
  src: url("../assets/Aktiv-Grotesk/TTF/AktivGrotesk-Bold.ttf");
}
.font-bold-custom{
    font-family: "Bold-Custom";
  font-size: 14px;
}
.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
  }
  html {
    font-size: 14px;
}
/* 
body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */


